<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> 智能评估 - Adleida 中国 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/css/vendor/flat-ui.min.css" rel="stylesheet">
    <!-- awesome font -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="/css/focus.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/evalution.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-lg navbar-embossed" role="navigation" style="border-radius:1px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Adleida</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-8">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">程序化交易平台<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/exchange">广告交易所</a></li>
              <li><a href="#">移动端 SDK</a></li>
              <li class="divider"></li>
              <li><a href="#">自媒体</a></li>
            </ul>
          </li>
          <li><a href="/evalution">智能评估</a></li>
          <li><a href="#">广告搜索</a></li>
          <li><a href="#">户外</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about">领导团队</a></li>
              <li><a href="/contact">加入我们</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" placeholder="邮箱" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">登录</button>
              <button type="submit" class="btn btn-danger">注册</button>
            </form>
          </li>
          <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- header image -->
    <div class="banner exchange-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br /> <br /> <br /> <br />
            <h3>数据深度挖掘</h3>
            <br /> <br /> <br /> <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button">申请使用</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- header image end -->

    <section class="use-cases">
      <div class="container"> 
        <div class="row use-cases-space">
          <div class="col-md-6 col-md-push-6">
            <h1 class="section-headline">Continuous Integration &amp; Delivery</h1>
            <h2 class="section-tagline">Test your automation, deploy to any environment</h2>
            <p class="section-description">A job in SpikeNode can deploy code to multiple servers. You can expose jobs through URL callbacks. By calling one of these URLs from your CI tool, trigger the deployment automatically.</p>
          </div>
          <div class="col-md-6 col-md-pull-6">
            <img src="/images/evalution/b65b6611.url-callback.png" class="img-responsive" alt="Deploy code into your servers after passing all tests in your CI tool">
          </div>
        </div>
        <div class="row use-cases-space">
          <div class="col-md-6">
            <h1 class="section-headline">Configuration management</h1>
            <h2 class="section-tagline">Reconfigure servers on demand and get alerted when configurations change</h2>
            <p class="section-description">SpikeNode will detect and alert on changes in configuration or potential problems.</p>
          </div>
          <div class="col-md-6">
            <img src="/images/evalution/c8534e5e.config-management.png" class="img-responsive" alt="Deploy code into your servers after passing all tests in your CI tool">
          </div>
        </div>
        <div class="row use-cases-space">
          <div class="col-md-6 col-md-push-6">
            <h1 class="section-headline">Auto Scaling</h1>
            <h2 class="section-tagline">Automatically configure cloud servers as they come online</h2>
            <p class="section-description">By adding a few lines of code to EC2 UserData field, hosts will automatically run Ansible playbooks as they come online. This is perfect for environments where hosts are dynamic and need to be configured quickly.</p>
          </div>
          <div class="col-md-6 col-md-pull-6">
            <img src="/images/evalution/9dddcad8.autoscaling.png" class="img-responsive" alt="Deploy code into your servers after passing all tests in your CI tool">
          </div>
        </div>
      </div>
    </section>

    <div id="example">
      <div class="overlay"><div class="load">数据转入中...<span>0%</span><p></p></div></div>
    </div>

    <!-- footer -->
    <div class="shutdown">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>服务</h6>
              <a href="#"><span>实时进价</span></a>
              <br /> <br />
              <a href="#"><span>广告搜索</span></a>
              <br /> <br />
              <a href="#"><span>微信平台自媒体</span></a>
              <br /> <br />
              <a href="#"><span>精度投放</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>技术支持</h6>
              <a href="#"><span>在线帮助</span></a>
              <br /> <br />
              <a href="#"><span>DSP 管理</span></a>
              <br /> <br />
              <a href="#"><span>CDN 全网覆盖</span></a>
              <br /> <br />
              <a href="#"><span>移动端对接</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>关于我们</h6>
              <a href="#"><span>领导团队</span></a>
              <br /> <br />
              <a href="#"><span>联系我们</span></a>
              <br /> <br />
              <a href="#"><span>加入我们</span></a>
              <br /> <br />
              <a href="#"><span>合作伙伴</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <h6>订阅</h6>
              <span>邮箱订阅实时收取动态</span>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="输入您的邮箱地址">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
              <hr />
              <span>您同样可以在下方平台关注我们</span>
              <span class="glyphicon glyphicon-hand-down"></span>
              <br />
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <hr />
          </div>
          <div class="col-lg-12">
            <div style="text-align:center">
              <span> © 2015 Adleida, Inc. </span>
              <span> Made with ♥ in China</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/flat-ui.min.js"></script>

    <script src="/js/application.js"></script>
    <script src="/js/google.js"></script>

    <script>
        var data = [{
            img: "/images/evalution/1.jpg",
            tit: "Bubble Witch Saga",
            url: "javascript:;"
        },
        {
            img: "/images/evalution/2.jpg",
            tit: "GolMania",
            url: "javascript:;"
        },
        {
            img: "/images/evalution/3.jpg",
            tit: "Bug Village",
            url: "javascript:;"
        },
        {
            img: "/images/evalution/4.jpg",
            tit: "Dragon Age Legends",
            url: "javascript:;"
        },
        {
            img: "/images/evalution/5.jpg",
            tit: "Triple Town",
            url: "javascript:;"
        }];

        var aImg = function() {
            for(var i = data.length, aResult = []; i--;) aResult = aResult.concat(data[i].img, data[i].img.replace(/(\d+)/g, "$1_"));
            return aResult
        }();
        var example = null;
        new Loading("example", aImg, function() {
            example || (example = new Google("example", data).autoPlay(5000));      
        });
    </script>
  </body>
</html>
