<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> 广告交易所 - Adleida 中国 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/css/vendor/flat-ui.min.css" rel="stylesheet">
    <!-- awesome font -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/exchange.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-lg navbar-embossed" role="navigation" style="border-radius:1px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Adleida</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-8">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">程序化交易平台<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/exchange">广告交易所</a></li>
              <li><a href="#">移动端 SDK</a></li>
              <li class="divider"></li>
              <li><a href="#">自媒体</a></li>
            </ul>
          </li>
          <li><a href="/evalution">智能评估</a></li>
          <li><a href="/search">广告搜索</a></li>
          <li><a href="/outdoor">户外</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about">领导团队</a></li>
              <li><a href="/contact">加入我们</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" placeholder="邮箱" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">登录</button>
              <button type="submit" class="btn btn-danger">注册</button>
            </form>
          </li>
          <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- header image -->
    <div class="banner exchange-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br /> <br /> <br />
            <h1>程序化时代</h1>
            <br /> <br /> <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- header image end -->

    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h2 class="text-center">不一样的进价流程</h2>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail vendor">
              <img src="/images/exchange/ontime.jpg" alt="ontime">
              <div class="caption">
                <h4>Real-time bidding</h4>
                <p>It means by which advertising inventory is bought and sold on a per-impression basis.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail vendor">
              <img src="/images/exchange/cdn.jpg" alt="cdn">
              <div class="caption">
                <h4>Whole network buffer</h4>
                <p>A content delivery network (CDN) is a system of distributed servers (network) that deliver webpages and other Web content to a user.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail vendor">
              <img src="/images/exchange/performance.jpg" alt="algorithm">
              <div class="caption">
                <h4>Accuratealgorithm</h4>
                <p>The High Performance Programme is an initiative from the International Cricket Council to bridge the gap between Test and non-Test nations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jumbotron end -->

    <!-- section step -->
    <section class="spikenode-steps">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1 class="section-headline">SpikeNode in 4 steps</h1>
            <h2 class="section-tagline">Just four steps to automate everything</h2>
            <ol class="step-list">
              <li class="step-push">
                <h3 class="step-headline">Push your automation</h3> 
                <p class="step-description">You have awesome automation, we know that. Simply git push to your own repository, we'll do the rest.</p> 
              </li> 
              <li class="step-job">
                <h3 class="step-headline">Create a Job</h3> 
                <p class="step-description">Define what to run and when to run it. Add custom variables and targets.</p> 
              </li> 
              <li class="step-run">
                <h3 class="step-headline">Run it!</h3> 
                <p class="step-description">Execute jobs on demand, schedule them in, or call them via your SpikeNode API.</p> 
              </li> 
              <li class="step-analyze"> 
                <h3 class="step-headline">Analyze</h3> 
                <p class="step-description">Get logs in real time directly in your browser.</p> 
              </li> 
            </ol> 
          </div> 
        </div> 
      </div> 
    </section>
    <!-- section end -->

    <!-- certification -->
    <section class="jumobtron standout">
      <div class="container">
        <img class="media-object" src="/images/exchange/cer.png" alt="certification">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>The Water Quality Association has tested and certified the Soma filter to <span class="standout--highlight">NSF/ANSI Standard 42</span> requirements for the reduction of chlorine, taste and odor. Their gold seal standard is known as a key benchmark for any reputable filter and a sign of innovation.</p>
          <p>In addition to extensive in-house testing, we work with independent third party laboratories, like Pace Laboratories, to test the Soma filter and to prepare for further certifications.</p>
        </div>
      </div>
    </section>
    <!-- certification end -->

    <!-- footer -->
    <div class="shutdown">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>服务</h6>
              <a href="#"><span>实时进价</span></a>
              <br /> <br />
              <a href="#"><span>广告搜索</span></a>
              <br /> <br />
              <a href="#"><span>微信平台自媒体</span></a>
              <br /> <br />
              <a href="#"><span>精度投放</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>技术支持</h6>
              <a href="#"><span>在线帮助</span></a>
              <br /> <br />
              <a href="#"><span>DSP 管理</span></a>
              <br /> <br />
              <a href="#"><span>CDN 全网覆盖</span></a>
              <br /> <br />
              <a href="#"><span>移动端对接</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>关于我们</h6>
              <a href="#"><span>领导团队</span></a>
              <br /> <br />
              <a href="#"><span>联系我们</span></a>
              <br /> <br />
              <a href="#"><span>加入我们</span></a>
              <br /> <br />
              <a href="#"><span>合作伙伴</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <h6>订阅</h6>
              <span>邮箱订阅实时收取动态</span>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="输入您的邮箱地址">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
              <hr />
              <span>您同样可以在下方平台关注我们</span>
              <span class="glyphicon glyphicon-hand-down"></span>
              <br />
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <hr />
          </div>
          <div class="col-lg-12">
            <div style="text-align:center">
              <span> © 2015 Adleida, Inc. </span>
              <span> Made with ♥ in China</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/flat-ui.min.js"></script>

    <script src="/js/application.js"></script>

  </body>
</html>
