<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> 户外 - Adleida 中国 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/css/vendor/flat-ui.min.css" rel="stylesheet">
    <!-- awesome font -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/outdoor.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-lg navbar-embossed" role="navigation" style="border-radius:1px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Adleida</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-8">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">程序化交易平台<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/exchange">广告交易所</a></li>
              <li><a href="#">移动端 SDK</a></li>
              <li class="divider"></li>
              <li><a href="#">自媒体</a></li>
            </ul>
          </li>
          <li><a href="/evalution">智能评估</a></li>
          <li><a href="/search">广告搜索</a></li>
          <li><a href="/outdoor">户外</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about">领导团队</a></li>
              <li><a href="/contact">加入我们</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" placeholder="邮箱" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">登录</button>
              <button type="submit" class="btn btn-danger">注册</button>
            </form>
          </li>
          <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- header image -->
    <div class="banner outdoor-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br /> <br /> <br />
            <h1>户外开屏 更加精准的投放</h1>
            <br /> <br /> <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- header image end -->

    <!-- info -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="text-center info">Local deliveries are complicated enough.<br>Your software doesn't need to be.</h2>
        </div>
      </div>
      <div class="row">
        <!--Operations-->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a href="https://onfleet.com/features#manage">
            <img class="img-responsive" src="/images/outdoor/section-overview-graphic-operations.png"> 
            <h4>Streamline your process</h4>
            <p>Maximize efficiency with simple, automated communication.</p>
          </a>
        </div>
        <!--Customers-->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a href="https://onfleet.com/features#customers">
            <img class="img-responsive" src="/images/outdoor/section-overview-graphic-customers.png"> 
            <h4>Delight your customers</h4>
            <p>Keep customers engaged and informed from door to door.</p>
          </a>
        </div>
        <!--Analytics-->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a href="https://onfleet.com/features#analytics">
            <img class="img-responsive" src="/images/outdoor/section-overview-graphic-analytics.png"> 
            <h4>Make better decisions</h4>
            <p>Empower your business with rich data and actionable insights.</p>
          </a>
        </div>
      </div>
    </div>
    <!-- info end -->

    <!-- half loop -->
    <br />
    <br />
    <br />
    <div class="container">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h4>On-Demand Conference Recap</h4>
        <p>The On-Demand Conference took place yesterday in San Francisco. The conference brought together some of the biggest and brightest names in the on-demand economy. What resulted were dynamic talks and insight into the past, present, and future of on-demand</p>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="banner">
          <ul>
            <li style="background-image: url('/images/outdoor/rsz_l2.jpg');">
              <br /> <br /> <br /> <br />
              <h1>户外广告精准投放</h1>
              <p> 计算机视觉图像识别精确定位人群特征 </p>
            </li>
            <li style="background-image: url('/images/outdoor/rsz_l1.jpg');">
              <br /> <br /> <br /> <br />
              <h1>更加狭小的空间 更有趣的信息分享</h1>
              <p> 即使在电梯内也可以充满趣味性的度过广告时光 </p>
            </li>
            <li style="background-image: url('/images/outdoor/rsz_l3.jpg');">
              <br /> <br /> <br /> <br />
              <h1>人群聚类</h2>
              <p> 数据挖掘进一步聚类人群 </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- half loop -->

    <!-- text share -->
    <div class="banner text-share">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>INFINITE BACKUP</h4>
            <p>Every single version of your design is saved on Pixelapse. You'll never worry about a hard drive crash again.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>CONVERSATIONS</h4>
            <p>With inline annotation, conversations are centered around your design. Intelligent markdown lets you refer to specific revisions in your comments.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>GRANULAR PERMISSIONS</h4>
            <p>Projects give you fine grained access control. Allow colleagues to sync assets to their machines while limiting clients to viewing previews online.</p>
          </div>
        </div>
      </div>
      <div class="container fix-fix">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>INFINITE BACKUP</h4>
            <p>Every single version of your design is saved on Pixelapse. You'll never worry about a hard drive crash again.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>CONVERSATIONS</h4>
            <p>With inline annotation, conversations are centered around your design. Intelligent markdown lets you refer to specific revisions in your comments.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>GRANULAR PERMISSIONS</h4>
            <p>Projects give you fine grained access control. Allow colleagues to sync assets to their machines while limiting clients to viewing previews online.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- text share end-->

    <!-- footer -->
    <div class="shutdown">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>服务</h6>
              <a href="#"><span>实时进价</span></a>
              <br /> <br />
              <a href="#"><span>广告搜索</span></a>
              <br /> <br />
              <a href="#"><span>微信平台自媒体</span></a>
              <br /> <br />
              <a href="#"><span>精度投放</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>技术支持</h6>
              <a href="#"><span>在线帮助</span></a>
              <br /> <br />
              <a href="#"><span>DSP 管理</span></a>
              <br /> <br />
              <a href="#"><span>CDN 全网覆盖</span></a>
              <br /> <br />
              <a href="#"><span>移动端对接</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>关于我们</h6>
              <a href="#"><span>领导团队</span></a>
              <br /> <br />
              <a href="#"><span>联系我们</span></a>
              <br /> <br />
              <a href="#"><span>加入我们</span></a>
              <br /> <br />
              <a href="#"><span>合作伙伴</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <h6>订阅</h6>
              <span>邮箱订阅实时收取动态</span>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="输入您的邮箱地址">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
              <hr />
              <span>您同样可以在下方平台关注我们</span>
              <span class="glyphicon glyphicon-hand-down"></span>
              <br />
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <hr />
          </div>
          <div class="col-lg-12">
            <div style="text-align:center">
              <span> © 2015 Adleida, Inc. </span>
              <span> Made with ♥ in China</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/flat-ui.min.js"></script>
    <!-- loop js -->
    <script src="/js/vendor/unslider.min.js"></script>

    <script src="/js/application.js"></script>

    <script>		
        $('.banner').unslider({
            arrows: true,
            fluid: true,
            dots: true
        });
    </script>
  </body>
</html>
