<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> 广告搜索 - Adleida 中国 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/css/vendor/flat-ui.min.css" rel="stylesheet">
    <!-- awesome font -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/search.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-lg navbar-embossed" role="navigation" style="border-radius:1px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Adleida</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-8">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">程序化交易平台<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/exchange">广告交易所</a></li>
              <li><a href="#">移动端 SDK</a></li>
              <li class="divider"></li>
              <li><a href="#">自媒体</a></li>
            </ul>
          </li>
          <li><a href="/evalution">智能评估</a></li>
          <li><a href="/search">广告搜索</a></li>
          <li><a href="/outdoor">户外</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about">领导团队</a></li>
              <li><a href="/contact">加入我们</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" placeholder="邮箱" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">登录</button>
              <button type="submit" class="btn btn-danger">注册</button>
            </form>
          </li>
          <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- header image -->
    <div class="banner outdoor-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br /> <br /> <br /> <br />
            <h3>精准全网广告搜索  一览无余</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- header image end -->

    <div class="container">
      <div class="col-sm-12">
        <h2 class="text-center">A simple process from idea to launch.
        </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="fade-in-down col-xs-12 col-sm-4 steps" data-wow-delay="0s">
          <div class="steps__bg" style="background-image: url(/images/search/spot-luke.jpg)"></div>
          <div class="steps__body text-shadow">
            <h4 class="text-secondary text-heading eta xs-margin-bottom-small">Step 1</h4>
            <p class="text-primary xs-margin-null">Submit your mobile app or website project.</p>
          </div>
        </div>
        <div class="fade-in-down col-xs-12 col-sm-4 steps" data-wow-delay=".3s">
          <div class="steps__bg" style="background-image: url(/images/search/get-budget.jpg)"></div>
          <div class="steps__body text-shadow">
            <h4 class="text-secondary text-heading eta xs-margin-bottom-small">Step 2</h4>
            <p class="text-primary xs-margin-null">Get an automatic budget recommendation.</p>
          </div>
        </div>
        <div class="fade-in-down col-xs-12 col-sm-4 steps" data-wow-delay=".6s">
          <div class="steps__bg" style="background: no-repeat 7% center;background-size: cover;background-image: url(/images/search/3-devs.jpg);"></div>
            <div class="steps__body text-shadow">
              <h4 class="text-secondary text-heading eta xs-margin-bottom-small">Step 3</h4>
              <p class="text-primary xs-margin-null">3 handpicked makers for your project come to you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- info -->
    <div class="row text-center info">
      <div class="col-xs-12 col-sm-11 center-block">
        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-website.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">Website</h4>
              <p class="text-tertiary eta xs-margin-bottom">Spruce up your website</p>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-app.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">App/UI</h4>
              <p class="text-tertiary eta xs-margin-bottom">Build the next big app</p>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-logo.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">Logo/Branding</h4>
              <p class="text-tertiary eta xs-margin-bottom">Make your company stand out</p>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-ecommerce.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">E-commerce</h4>
              <p class="text-tertiary eta xs-margin-bottom">Start selling online</p>
            </div>
          </a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-blog.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">Blog/Personal</h4>
              <p class="text-tertiary eta xs-margin-bottom">Publish articles and get followers</p>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4 xs-margin-bottom-large project__block">
          <a href="#" class="no-underline">
            <div class="project__block--content">
              <img class="grid-icon xs-margin-bottom" src="/images/search/i-graphics.svg" alt="">
              <h4 class="text-primary size-14 xs-margin-null xs-margin-bottom-small">Illustration</h4>
              <p class="text-tertiary eta xs-margin-bottom">Custom graphics for print or web</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- info end -->

    <!-- footer -->
    <div class="shutdown">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>服务</h6>
              <a href="#"><span>实时进价</span></a>
              <br /> <br />
              <a href="#"><span>广告搜索</span></a>
              <br /> <br />
              <a href="#"><span>微信平台自媒体</span></a>
              <br /> <br />
              <a href="#"><span>精度投放</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>技术支持</h6>
              <a href="#"><span>在线帮助</span></a>
              <br /> <br />
              <a href="#"><span>DSP 管理</span></a>
              <br /> <br />
              <a href="#"><span>CDN 全网覆盖</span></a>
              <br /> <br />
              <a href="#"><span>移动端对接</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align:center">
              <h6>关于我们</h6>
              <a href="#"><span>领导团队</span></a>
              <br /> <br />
              <a href="#"><span>联系我们</span></a>
              <br /> <br />
              <a href="#"><span>加入我们</span></a>
              <br /> <br />
              <a href="#"><span>合作伙伴</span></a>
              <br /> <br />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <h6>订阅</h6>
              <span>邮箱订阅实时收取动态</span>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="输入您的邮箱地址">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
              <hr />
              <span>您同样可以在下方平台关注我们</span>
              <span class="glyphicon glyphicon-hand-down"></span>
              <br />
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <hr />
          </div>
          <div class="col-lg-12">
            <div style="text-align:center">
              <span> © 2015 Adleida, Inc. </span>
              <span> Made with ♥ in China</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/flat-ui.min.js"></script>

    <script src="/js/application.js"></script>

  </body>
</html>
